$govuk-assets-path: "/external-guidance/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/external-guidance/assets/lib/hmrc-frontend/hmrc/";

$govuk-global-styles: true;

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";

.govuk-skip-link:link {text-decoration: underline; }

@import "_responsive-table";
